<!-- ==========================================
                FOOTER
========================================== -->

<footer class="footer">

    <div class="container">

        <!-- Logo -->

        <div class="footer-brand">

    <h2 class="footer-title">

        Smart Tourism Planner

    </h2>

    <p class="footer-tagline">

        AI Powered Travel Assistant

    </p>

    <p class="footer-description">

        Plan smarter journeys with AI. Discover destinations,
        generate personalized itineraries, and explore India with confidence.

    </p>

    <a href="#planner" class="footer-btn">

        <i class="fa-solid fa-paper-plane"></i>

        Start Planning

    </a>

</div>

        <!-- Navigation -->

        <div class="footer-links">

            <a href="#home">Home</a>

            <a href="#features">Features</a>

            <a href="#destinations">Destinations</a>

            <a href="#planner">AI Planner</a>

            <a href="#about">About</a>

        </div>

        <!-- Social -->

        <div class="footer-social">

            <a href="#"><i class="fa-brands fa-github"></i></a>

            <a href="#"><i class="fa-brands fa-linkedin"></i></a>

            <a href="#"><i class="fa-brands fa-instagram"></i></a>

            <a href="#"><i class="fa-solid fa-envelope"></i></a>

        </div>

        <hr>

        <!-- Bottom -->

        <div class="footer-bottom">

            <span>

                © 2026 Smart Tourism Planner

            </span>

            <span>

                Made with ❤️ by
                <strong>Aniket Prajapati</strong>

            </span>

        </div>

    </div>

</footer>