<!-- =======================================================
                        HERO SECTION
======================================================== -->

<section class="hero" id="home">

    <div class="hero-overlay"></div>

    <div class="container">

        <div class="hero-content">

            <span class="hero-badge">

                <i class="fa-solid fa-wand-magic-sparkles"></i>

                AI Powered Travel Assistant

            </span>

           <h1 class="hero-title">

    <span class="hero-white">

        Plan

    </span>

    <span class="hero-blue">

        Smarter.

    </span>

    <br>

    <span class="hero-white">

        Travel

    </span>

    <span class="hero-gold">

        Better.

    </span>

</h1>

            <p>

                Generate personalized travel itineraries, discover amazing
                destinations, explore local attractions and travel confidently
                with AI guidance.

            </p>

            <div class="hero-buttons">

                <a href="#planner" class="btn-primary-custom">

                    Start Planning

                </a>

                <a href="#features" class="btn-secondary-custom">

                    Explore More

                </a>

            </div>

        </div>

    </div>

</section>